USE [master]
GO
/****** Object:  Database [Project2]    Script Date: 31/08/2025 00:16:35 ******/
CREATE DATABASE [Project2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Project2', FILENAME = N'D:\SQL SERVER 2022\MSSQL16.SQLEXPRESS\MSSQL\DATA\Project2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Project2_log', FILENAME = N'D:\SQL SERVER 2022\MSSQL16.SQLEXPRESS\MSSQL\DATA\Project2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Project2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Project2]
GO
/****** Object:  Table [dbo].[tasks]    Script Date: 31/08/2025 00:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tasks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[description] [nvarchar](50) NOT NULL,
	[isCompleted] [bit] NULL,
	[isDeleted] [bit] NULL,
	[userID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 31/08/2025 00:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[loginID] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tasks] ADD  CONSTRAINT [DF_tasks_isCompleted]  DEFAULT ((0)) FOR [isCompleted]
GO
ALTER TABLE [dbo].[tasks] ADD  CONSTRAINT [DF_tasks_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
/****** Object:  StoredProcedure [dbo].[AddNewTask]    Script Date: 31/08/2025 00:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[AddNewTask] @title as nvarchar(50),@description as nvarchar(50),@loginID as nvarchar(50)
AS
	insert into tasks (title,description,userID) values (@title,@description,@loginID)

GO
/****** Object:  StoredProcedure [dbo].[CheckDuplicateUserName]    Script Date: 31/08/2025 00:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckDuplicateUserName] @loginID nvarchar(50)
AS
select loginID from users where loginID=@loginID
GO
/****** Object:  StoredProcedure [dbo].[CreateNewUser]    Script Date: 31/08/2025 00:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[CreateNewUser] @name nvarchar(50), @loginID nvarchar(50), @password nvarchar(50)
	AS
	insert into users (name, loginID, password) values (@name,@loginID,@password);
GO
/****** Object:  StoredProcedure [dbo].[GetAllTasks]    Script Date: 31/08/2025 00:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[GetAllTasks] @loginID as nvarchar(50)
AS
select * from tasks where userID=@loginID

GO
/****** Object:  StoredProcedure [dbo].[Login]    Script Date: 31/08/2025 00:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Login] @loginID as nvarchar(50),@password as nvarchar (50)
AS
select * from users where loginID=@loginID and password=@password

GO
/****** Object:  StoredProcedure [dbo].[UpdateTask]    Script Date: 31/08/2025 00:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdateTask] 
@id as int,
@title as nvarchar(50),
@description as nvarchar(50),
@isCompleted as bit,
@isDeleted as bit
AS
	UPDATE tasks
	set 
	title=@title, 
	description=@description, 
	isCompleted=@iscompleted, 
	isDeleted=@isDeleted
	where id=@id
	select * from tasks 
	where id=@id;
GO
USE [master]
GO
